<body>
  <video preload="yes" autoplay loop poster="JAH-BACKGROUND.png" id="background">
    <source src="JAH-BACKGROUND.webm" type="video/webm">
    <source src="JAH-BACKGROUND.mp4" type="video/mp4">
  </video>

  <div id="dropdown-1" class="dropdown dropdown-processed">
    <a class="dropdown-link" id="sidebar"><img src="JAH-LOGO.png"/></a>
  <div class="dropdown-container" style="display: none;">
    <ul>
      <li><a href="http://jahworld.bigcartel.com/" target="_blank"><img id="shop-img" src="SHOP-HEADER.png"/></a></li>
      <li><a href="http://instagram.com/jah_world/" target="_blank"><img id="instagram-img" src="INSTAGRAM-HEADER.png"/></a></li>
      <li><a id="contact-link" href="contact" target="_blank"><img id="contact-img" src="CONTACT-HEADER.png"/></a></li>
      <li id="contact">INFO@JAH.WORLD</li>
    </ul>
  </div>
</div>

<input type="checkbox" name="un-mute" id="un-mute">
    <label for="un-mute" class="unmute">
        <img src="mute.png" alt="mute.png" title="Mute icon">
    </label>
    <label for="un-mute" class="mute">
        <img src="speaker.png" alt="speaker.png" title="Unmute/speaker icon">
</label>

</body>

