<body>
  <video autoplay loop poster="JAH-BACKGROUND.png" id="background">
    <source src="JAH-BACKGROUND.webm" type="video/webm">
    <source src="JAH-BACKGROUND.mp4" type="video/mp4">
  </video>

  <div id="dropdown-1" class="dropdown dropdown-processed">
  <a class="dropdown-link" id="sidebar">JAH</a>
  <div class="dropdown-container" style="display: none;">
    <ul>
      <li><a href="http://jahworld.bigcartel.com/">SHOP</a></li>
      <li><a href="http://instagram.com/jah_world/">INSTAGRAM</a></li>
      <li><a id="contact-link" href="contact">CONTACT</a></li>
      <li id="contact">INFO@JAH.WORLD</li>
    </ul>
  </div>
</div>

<input type="checkbox" name="un-mute" id="un-mute">
    <label for="un-mute" class="unmute">
        <img src="mute.png" alt="mute.png" title="Mute icon">
    </label>
    <label for="un-mute" class="mute">
        <img src="speaker.png" alt="speaker.png" title="Unmute/speaker icon">
</label>

</body>

